@using ProjectVFront.Crosscutting.Utils.enums
@model SummaryViewModel

@{
    Layout = "_LayoutLogged";
    ViewData["Title"] = "Summary";
}

<div class="container">
    @if (!string.IsNullOrEmpty((string?)TempData["Error"]))
    {
        <div class="alert alert-danger my-2" role="alert">
            @TempData["Error"]
        </div>
    }
    <h4 class="fs-4 text-center">Summary</h4>
    <div class="text-center py-1 bg-white">
        <div class="mb-1">
            @ViewBag.Year
        </div>
        <div class="fs-4">
            <a class="text-decoration-none" asp-action="Index"
               asp-controller="Summary"
               asp-route-month=@ViewBag.BeforeMonth
               asp-route-year=@ViewBag.BeforeYear><span>←</span></a>
            <span class="text-capitalize">@ViewBag.Month</span>
            <a class="text-decoration-none" asp-action="Index"
               asp-controller="Summary"
               asp-route-month=@ViewBag.AfterMonth
               asp-route-year=@ViewBag.AfterYear><span>→</span></a>
        </div>
    </div>
    <main role="main" class="pb-2">
        <div class="card shadow-sm bg-white p-3 my-1 rounded border-0 mb-4">
            <div class="card-body ">
                <div class="row">
                    <div class="col-lg-4 d-flex my-xs-1 my-lg-3 card-border-right">
                        <div class="mx-auto text-center">
                            <h1 class="text-dark fs-4">Incomes</h1>
                            <span id="incomes" class="text-success">@Html.Raw(ViewBag.Summary.incomes)€</span>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex my-xs-1 my-lg-3 card-border-right">
                        <div class="mx-auto text-center">
                            <h1 class="text-dark fs-4">Expenses</h1>
                            <span id="expenses" class="text-danger">@Html.Raw(ViewBag.Summary.expenses)€</span>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex my-xs-1 my-lg-3">
                        <div class="mx-auto text-center">
                            <h1 class="font-weight-bold text-dark fs-4">Total</h1>
                            @if (ViewBag.Summary.totalValue > 0)
                            {
                                <span id="total" class="text-success">@Html.Raw(ViewBag.Summary.total)€</span>
                            }
                            else if (ViewBag.Summary.totalValue < 0)
                            {
                                <span id="total" class="text-danger">@Html.Raw(ViewBag.Summary.total)€</span>
                            }
                            else
                            {
                                <span id="total" class="text-dark">@Html.Raw(ViewBag.Summary.total)€</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2 my-1 bg-white rounded d-flex flex-row" style="overflow:auto;white-space:nowrap;">
            @foreach (var group in Model.TransactionsSumGroups)
            {
                <div class="d-flex flex-column text-black text-center w-25 shadow-sm m-1">
                    @if (!string.IsNullOrEmpty(group.CategoryPictureUrl))
                    {
                        <span><img style="width:50px;" src="@group.CategoryPictureUrl" /></span>
                    }
                    <span>@group.CategoryName</span>

                    @if (group.CategoryType == CategoryType.Expense.ToString())
                    {
                        <span class="badge bg-danger">-@group.TransactionsSum.ToString("0.00",Model.FormatProvider)€</span>
                    }
                    else
                    {
                        <span class="badge bg-success">@group.TransactionsSum.ToString("0.00",Model.FormatProvider)€</span>
                    }
                </div>
            }
        </div>
        <div class="text-center">
            <a class="btn btn-primary btn-sm" asp-action="Index"
               asp-controller="Transactions"
               asp-route-month=@ViewBag.MonthNum
               asp-route-year=@ViewBag.YearNum>
                View details
            </a>
        </div>
        <div class="p-3 my-1 bg-white rounded border-0">
            <div class="card-body ">
                <canvas id="summaryChart" style="display: block; box-sizing: border-box;max-width:700px;margin: 0 auto;" class="w-100"></canvas>
            </div>
        </div>
        <div class="p-3 my-1 bg-white rounded border-0 d-flex flex-row justify-content-center">
            <button type="button" data-bs-toggle="modal" data-bs-target="#addIncomeModal" class="btn btn-outline-success p-1 rounded-circle me-5" style="width: 50px; height:50px;">+</button>
            <button type="button" data-bs-toggle="modal" data-bs-target="#addExpenseModal" class="btn btn-outline-danger p-1 rounded-circle" style="width: 50px; height:50px;">-</button>
        </div>
    </main>
</div>

@section scripts {
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js" integrity="sha256-ErZ09KkZnzjpqcane4SCyyHsKAXMvID9/xwbl/Aq1pc=" crossorigin="anonymous"></script>

<script>
      const ctx = document.getElementById('summaryChart').getContext('2d');
      const myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: @Html.Raw(ViewBag.TransactionsSumLabels),
              datasets: [{
                  barPercentage: 0.1,
                  barThickness: 30,
                  maxBarThickness: 32,
                  label: 'Categories',
                  data: @Html.Raw(ViewBag.TransactionsSumData),
                  backgroundColor: @Html.Raw(ViewBag.BackgroundColors),
                  borderColor: @Html.Raw(ViewBag.BorderColors),
                  borderWidth: 1
              }]
          },options: {
            indexAxis: 'y',
    }
      });
</script>
}

<div class="modal fade" id="addIncomeModal" tabindex="-1" aria-labelledby="addIncomeModalLabel" aria-hidden="true">
    <form asp-action="AddTransaction" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addIncomeModalLabel">Add Income</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        @Html.EditorFor(model => model.AddTransactionRequestDto.Description, new {htmlAttributes = new {@class = "form-control",placeholder="Description", required=true}})
                    </div>
                    <div class="mb-3">
                        @Html.EditorFor(model => model.AddTransactionRequestDto.Date, new {htmlAttributes = new {@class = "form-control",placeholder="Date", required=true, type="date"}})
                    </div>
                    <div class="mb-3">
                        @Html.EditorFor(model => model.AddTransactionRequestDto.Value, new {htmlAttributes = new {@class = "form-control",placeholder="Value",type="number", required=true,step="0.01"}})
                    </div>
                    <div class="mb-3">
                        <select asp-for="AddTransactionRequestDto.CategoryId" class="form-select" aria-label="Category" required>
                            @foreach (var category in Model.Categories.Where(c => c.Type == CategoryType.Income))
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="w-100 btn btn-sm btn-primary" type="submit">Add</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="addExpenseModal" tabindex="-1" aria-labelledby="addExpenseModalLabel" aria-hidden="true">
    <form asp-action="AddTransaction" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addExpenseModalLabel">Add Expense</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        @Html.EditorFor(model => model.AddTransactionRequestDto.Description, new {htmlAttributes = new {@class = "form-control",placeholder="Description", required=true}})
                    </div>
                    <div class="mb-3">
                        @Html.EditorFor(model => model.AddTransactionRequestDto.Date, new {htmlAttributes = new {@class = "form-control",placeholder="Date", required=true, type="date"}})
                    </div>
                    <div class="mb-3">
                        @Html.EditorFor(model => model.AddTransactionRequestDto.Value, new {htmlAttributes = new {@class = "form-control",placeholder="Value",type="number", required=true, step="0.01"}})
                    </div>
                    <div class="mb-3">
                        <select asp-for="AddTransactionRequestDto.CategoryId" class="form-select" aria-label="Category" required>
                            @foreach (var category in Model.Categories.Where(c => c.Type == CategoryType.Expense))
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="w-100 btn btn-sm btn-primary" type="submit">Add</button>
                </div>
            </div>
        </div>
    </form>
</div>
